<ion-view view-title="Centres">
    <ion-header-bar class="bar bar-header bar-header_64 bar_header_brown">
            <a ui-sref="app.Centres"><img src ='./img/logo.png' class="title app-icon left"/></a>
            <!--                <a class="button button-clear button-modified right" ng-hide="{{EmrixUser.username}}" ng-click="logout()">Logout</a>-->
        </ion-header-bar>
    <ion-content >
<!--        <div class="row" ng-repeat="image in images" ng-if="$index % 4 === 0">
            <div class="col col-25" ng-if="$index < images.length">
                <a ui-sref="{{image.app_url}}">
                    <img ng-src="{{images[$index].src}}" width="100%" />
                </a>
            </div>
            <div class="col col-25" ng-if="$index + 1 < images.length">
                <a ui-sref="app.Centres">
                    <img ng-src="{{images[$index + 1].src}}" width="100%" />
                </a>
            </div>
            <div class="col col-25" ng-if="$index + 2 < images.length">
                <a ui-sref="app.Centres">
                    <img ng-src="{{images[$index + 2].src}}" width="100%" />
                </a>
            </div>
           <div class="col col-25" ng-if="$index + 3 < images.length">
               <a ui-sref="app.Centres">
                   <img ng-src="{{images[$index + 3].src}}" width="100%" />
               </a>
            </div>
          </div>
        -->
        
        <div ng-hide="Centres" class="loading-spinner"><ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner></div>
        <div ng-show="Centres">
        <div class="row responsive-sm" ng-repeat="Centre in Centres" ng-if="$index % 4 === 0">
            <div class="col col-25 text-center" ng-if="$index < Centres.length" style="background-color:red">
                <a ng-click="ReDirectToCentre('{{Centres[$index].app_url}}')" class="link">
                    <img ng-src="{{Centres[$index + 1].imageurl}}" width="100%" class="image_centre top_margin_10"/>
                    <h3>{{Centres[$index].centername}}</h3>
                </a>
                
                
            </div>
            <div class="col col-25 text-center" ng-if="$index + 1 < Centres.length" style="background-color:green">
                <a ng-click="ReDirectToCentre('{{Centres[$index+1].app_url}}')" class="link">
                    <img ng-src="{{Centres[$index + 1].imageurl}}" width="100%" class="image_centre top_margin_10"/>
                    <h3>{{Centres[$index+1].centername}}</h3>
                </a>
                
            </div>
            <div class="col col-25 text-center" ng-if="$index + 2 < Centres.length" style="background-color:#007aff">
                <a ng-click="ReDirectToCentre('{{Centres[$index+2].app_url}}')" class="link">
                    <img ng-src="{{Centres[$index + 2].imageurl}}" width="100%" class="image_centre top_margin_10"/>
                    <h3>{{Centres[$index+2].centername}}</h3>    
                </a>

            </div>
           <div class="col col-25 text-center" ng-if="$index + 3 < Centres.length" style="background-color:#55acee">
               <a ng-click="ReDirectToCentre('{{Centres[$index+3].app_url}}')" class="link">
                   <img ng-src="{{Centres[$index + 3].imageurl}}" width="100%" class="image_centre top_margin_10"/>
                   <h3>{{Centres[$index+3].centername}}</h3>
               </a>
               
            </div>
          </div>
            </div>

    </ion-content>
            <ion-footer-bar class="bar bar-dark">
            <h3 class="title">Powered By ViDoc Solutions Pvt Ltd.</h3>
        </ion-footer-bar>

</ion-view>



