<ion-view view-title="Iframe">
    <ion-header-bar class="bar bar-header bar-header_64 bar_header_brown">
        <a ui-sref="app.Centres"><img src ='./img/logo.png' class="title app-icon"/></a>
     </ion-header-bar>
    <div class="bar bar-subheader">
    <h2 class="title">CenterName Goes here</h2>
    </div>
    <ion-content has-header="true" has-subheader="true" class="header_iframe">
        
        <div class="panel">
            <iframe  ng-src="{{centreUrl}}" style="width:100%; height:100%; position:fixed;bottom:5px;top:0px" scrolling="yes"></iframe>
        </div> 
    </ion-content>
</ion-view>
