<ion-view>
    <ion-header-bar class="bar bar-header bar-header_64 bar_header_brown">
            <a ui-sref="app.Centres"><img src ='./img/logo.png' class="title app-icon left"/></a>
            <!--                <a class="button button-clear button-modified right" ng-hide="{{EmrixUser.username}}" ng-click="logout()">Logout</a>-->
        </ion-header-bar>
    <ion-content has-header="true">
        <img src="img/LoginScreen.png" class="loginbanner">
        <form ng-submit="login(loginData)" name="loginData">
            <div class="list list-inset">
                <label class="item item-input login-textbox">
                    <input type="text" ng-model="loginData.username" placeholder="UserName" required />
                </label>
                <label class="item item-input login-textbox">
                    <input type="password" ng-model="loginData.password" placeholder="Password" required/>
                </label>
                <label class="list list-inset">
<!--                <button class="button button-block button-stable login-button" ui-sref="app.Centres" type="button">Login</button>-->
                <input class="button button-block button-stable login-button" type="submit" value="Login"/>
                </label>
            </div>
            
        </form>
    </ion-content>
                <ion-footer-bar class="bar bar-dark">
            <h3 class="title">Powered By ViDoc Solutions Pvt Ltd.</h3>
        </ion-footer-bar>

</ion-view>