<ion-side-menus>
    <ion-side-menu-content>
        
<!--        <ion-nav-bar class="bar-dark">
            <h1>Emrix</h1>
        </ion-nav-bar>-->
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
</ion-side-menus>
