﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
        <title></title>
        <link href="lib/ionic/css/ionic.css" rel="stylesheet"/>
        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        <link href="css/ionic.app.css" rel="stylesheet">-->
        <!-- ionic/angularjs js -->
        <link href="css/style.css" rel="stylesheet">
        <style>
            #map {
                width: 100%;
                height: 100%;
            }

            .scroll {
                height: 100%;
            }
            /*        body {
                    background-image:url('img/bg.jpg') !important;
                    }*/
        </style>
        <script src="lib/ionic/js/ionic.bundle.js"></script>
        <script src="lib/ngCordova/dist/ng-cordova.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js"></script>
        <!--Utility script --> 
        <script src="js/utility.js"></script>


        <!-- your app's js -->

        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-app="mApp">
        <!--    <div class="bar bar-header bar-header-modified">
                  <a ui-sref="app.Centres"><img src ='./img/logo.png' class="title app-icon left"/></a>
                  
                  <a class="button button-clear button-modified right" ng-hide="{{EmrixUser.username}}" ng-click="logout()">Logout</a>
            </div>
            <ion-footer-bar class="bar bar-dark">
                <h3 class="title">Powered By ViDoc Solutions Pvt Ltd.</h3>
            </ion-footer-bar>  
            <ion-nav-view></ion-nav-view>-->
    <ion-pane>
        <ion-nav-view></ion-nav-view>

    </ion-pane>


</body>
</html>
