/*
.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: yellow;
}
/* header 
.bar.bar-stable {
    background-color: #7379a3;
    color: #f4f4f4;
}

    .bar.bar-stable .title {
        background-color: #7379a3;
        color: #f4f4f4;
    }


.scroll-content{
    background: url("../img/logo.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}


.loading-spinner {
    text-align: center;
}

.spinner svg {
    width: 19% !important;
    height: 85px !important;
    margin-top: 200px !important;
}

.spinner.spinner-assertive {
    stroke: #ef473a;
    fill: #ef473a;
}

.spinner.spinner-assertive {
    stroke: #3A73EF;
    fill: #3A3CEF;
}

.font-weight {
    font-weight: 700 !important;
}

.rideTitle {
    font-weight: 700 !important;
    text-align: center;
}

.custom-person-icon {
  font-size: 25px;
  color : blue;
}
.custom-location-icon-red {
  font-size: 25px;
  color : red;
}
.custom-location-icon-green{
  font-size: 25px;
  color : green;
}

}*/

.bar-header-modified {
  height: 64px !important;
  background-color: #440303;
}
.bar-header_64{
    height: 64px !important;
}
.bar_header_brown{
    background-color: #440303;
}

/*.scroll-content{
  top: 0 !important;
  bottom: 0 !important;
  padding-top: 44px !important;
  min-height: 100%!important;
}*/

.app-icon {
    height: 100%!important;
    width: 60%!important;
    float: LEFT;
    /*margin-left:1.5%;*/
}

.loginbanner{
    height:80px;
    margin-top:10px;
    margin-left: 5%;
    max-width: 80%;
}

.text-center {
    text-align: center;
}

.login-textbox{
        width: 80%!important;
    margin: 0 0 4% 10%!important;
}

.login-button{
    width: 20%!important;
    min-width: 100px;
    margin: 0 0 0% 35%!important;
}

.button-modified{
    background-color: #440303!important;
    border-color: #440303!important;
    color:#fff!important;
    margin-right: 7px!important;
    padding: 0 15px!important;
}

/*ion-content{
    bottom: 100px!important;
}*/

.loading-spinner {
    text-align: center;
}

.spinner svg {
    width: 19% !important;
    height: 85px !important;
    margin-top: 100px !important;
}

.spinner.spinner-assertive {
    stroke: #ef473a;
    fill: #ef473a;
}

.spinner.spinner-assertive {
    stroke: #3A73EF;
    fill: #3A3CEF;
}
.bar .title{
    font-size: 14px;
}

.col-25{
/*    min-width: 120px;*/
    word-wrap:break-word;
}
.has-header{
    top:60px;
}

.left{
    float:left;
}
.right{
    float:right;    
}

.top_margin_10{
    margin-top: 10px;
}
.image_centre{
/*    cursor: pointer;
    position: relative;
    display: inline-block;
    min-width: 52px;
    min-height: 47px;
    vertical-align: top;
    text-align: center;
    border-radius:12px;*/
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 30px;
    min-width: 52px;
    min-height: 47px;
    border-radius: 12px;
    vertical-align: top;
    text-align: center;
    line-height: 42px;
}
.link{
    cursor: pointer;
}

.header_iframe{
 top:18px;   
}
.bar-subheader_blue{
    background-color:#51A5CF
}
.bar-subheader{
    top:54px;
}